<div style="padding-top: 20px;" class="pad20">
     
        <div class="breadcrumb event-top paddadusy">
            <div style="width: 50%;     padding-top: 3px;" aria-current="page">Actions</div>
            <div style="width: 50%;">
                <ul class="ul-right">
                    <li class="inline-li"><i class="fa fa-futbol-o" aria-hidden="true"></i></li>
                    <li class="inline-li"><i class="fa fa-repeat" aria-hidden="true"></i></li>
                    <li class="inline-li"><i class="fa fa-minus-circle" aria-hidden="true"></i></li>
                    <li class="inline-li"><i class="fa fa-times-circle" aria-hidden="true"></i></li>
                   
                </ul>

            </div>
        </div>
    
    <div class="row below-action-width">
        <div class="col-sm-6">
            <div class="card below-action-height">
                <div class="row no-gutters" style="height: 100%">
                    <div class="col-md-2 email-box-icon">
                        <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 email-box-content">
                        <div class="card-body">
                            <h5 class="card-title">Email Reminder!</h5>
                            <p class="card-text">Sit back and relax while the app send emails!! <button type="button"
                                    class="btn btn-light">Send Email</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card below-action-height">
                <div class="row no-gutters " style="height: 100%">

                    <div class="col-md-10 future-box-content">
                        <div class="card-body">
                            <h5 class="card-title">Future Implementations!!</h5>
                            <p class="card-text">Sit back and relax while the app send emails!! </p>

                        </div>
                    </div>
                    <div class="col-md-2 future-box-icon">
                        <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- <div style="padding-top: 20px;">
            <div class="breadcrumb event-top paddadusy mar-adjust">
                    <div style="width: 50%;     padding-top: 3px;" aria-current="page">Events</div>
                    <div style="width: 50%;">
                        <ul class="ul-right">
                            <li class="inline-li"><i class="fa fa-futbol-o" aria-hidden="true"></i></li>
                            <li class="inline-li"><i class="fa fa-repeat" aria-hidden="true"></i></li>
                            <li class="inline-li"><i class="fa fa-minus-circle" aria-hidden="true"></i></li>
                            <li class="inline-li"><i class="fa fa-times-circle" aria-hidden="true"></i></li>
                           
                        </ul>
        
                    </div>
                </div>        
    </div> -->
    <!-- <div style="float: right;    margin-bottom: 10px;">
        <button type="button" class="clr-btn"><i class="fa fa-times" aria-hidden="true"></i> Clear Filters</button>
        <button type="button" class="excel-btn"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download
            Excel</button>
    </div>
    <table class="table table-scroll">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">Event ID</th>
                <th scope="col">Month</th>
                <th scope="col">Base Location</th>
                <th scope="col">Beneficiary Name </th>
                 
            </tr>
            <tr>
                <td></td>
                <td scope="col"><input class="form-control" type="text" placeholder="filter column"></td>
                <td scope="col"><input class="form-control" type="text" placeholder="filter column"></td>
                <td scope="col"><input class="form-control" type="text" placeholder="filter column"></td>
                <td scope="col"><input class="form-control" type="text" placeholder="filter column"> </td>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><button type="button" class="btn btn-primary"> <i class="fa fa-eye" aria-hidden="true"></i> View</button></td>
                <td scope="col">Event</td>
                <td scope="col">Dec</td>
                <td scope="col">DV</td>
                <td scope="col">Outreach UK </td>
               

            </tr>
            <tr>
                <td></td>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <td></td>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <td></td>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <td></td>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
        </tbody>
        <tbody>

            <tr>
                <td><button type="button" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View</button></td>
                <td scope="col">Event</td>
                <td scope="col">Dec</td>
                <td scope="col">DV</td>
                <td scope="col">Outreach UK </td>
                
            </tr>
            <tr>
                <td></td>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <td></td>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <td></td>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <td></td>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
        </tbody>

    </table> -->
    <app-event-details-info></app-event-details-info>