<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo-width"> <a class="navbar-brand nav-color" href="#"> <i class="fa fa-handshake-o"
                    aria-hidden="true"></i> <b class="pad5">Outreach</b> FMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="menu-width">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#"><i class="fa fa-window-maximize"
                            aria-hidden="true"></i><span class="pad5">Dashboard</span> <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#"><i class="fa fa-calendar" aria-hidden="true"></i> <span
                            class="pad5">Events</span></a>
                    <a class="nav-item nav-link" href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i><span
                            class="pad5">Reports</span></a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog" aria-hidden="true"></i> <span class="pad5">Configuration</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Questions</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </div>
                <div class="collapse navbar-collapse">

                    <li class="nav-item dropdown remove-dot">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i> <span class="pad5"></span>Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Logout</a>
                            <a class="dropdown-item" href="#">Profile</a>
                        </div>
                    </li>

                </div>
            </div>
        </div>
    </nav>

</header>