<!-- <div style="padding-top: 20px;" class="pad20">
    <div class="breadcrumb event-top paddadusy">
        <div style="width: 50%;     padding-top: 3px;" aria-current="page">Actions</div>
        <div style="width: 50%;">
            <ul class="ul-right">
                <li class="inline-li"><i class="fa fa-futbol-o" aria-hidden="true"></i></li>
                <li class="inline-li"><i class="fa fa-repeat" aria-hidden="true"></i></li>
                <li class="inline-li"><i class="fa fa-minus-circle" aria-hidden="true"></i></li>
                <li class="inline-li"><i class="fa fa-times-circle" aria-hidden="true"></i></li>

            </ul>

        </div>
    </div>
    <div class="row below-action-width">
        <div class="col-sm-6">
            <div class="card below-action-height">
                <div class="row no-gutters" style="height: 100%">
                    <div class="col-md-2 email-box-icon">
                        <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 email-box-content">
                        <div class="card-body">
                            <h5 class="card-title">Email Reminder!</h5>
                            <p class="card-text">Sit back and relax while the app send emails!! <button type="button"
                                    class="btn btn-light">Send Email</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card below-action-height">
                <div class="row no-gutters " style="height: 100%">

                    <div class="col-md-10 future-box-content">
                        <div class="card-body">
                            <h5 class="card-title">Future Implementations!!</h5>
                            <p class="card-text">Sit back and relax while the app send emails!! </p>

                        </div>
                    </div>
                    <div class="col-md-2 future-box-icon">
                        <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

        </div>
    </div> -->

<div class="eve-ben-details">
    <div class="breadcrumb event-top paddadusy">
        <div style="width: 50%;     padding-top: 3px;" aria-current="page">EVENT & BENIFICIARY DETAILS</div>
        <div style="width: 50%;">
            <ul class="ul-right">
                <li class="inline-li"><i class="fa fa-futbol-o" aria-hidden="true"></i></li>
                <li class="inline-li"><i class="fa fa-repeat" aria-hidden="true"></i></li>
                <li class="inline-li"><i class="fa fa-minus-circle" aria-hidden="true"></i></li>
                <li class="inline-li"><i class="fa fa-times-circle" aria-hidden="true"></i></li>
            </ul>
        </div>
    </div>
</div>

<div class="row below-action-width">
    <div class="col-sm-6">
        <div class="card below-action-height">
            <div class="row no-gutters  eve-details-box">
                <div class="col-sm-6 eve-details-box-span">
                    <span>ID:EVENT-0089 </span>
                </div>
                <div class="col-sm-6 eve-details-box-span">
                    <span>Date: dd/mm/yyyy</span>
                </div>
            </div>

        </div>
        <span>
            <p class="event-content">1st Dec PM-Christmass fair to save school swimming pool.
                <p style="text-align: justify; width: 90%;    padding-left: 20px;">dfbjhfcgsddfytfh fufjdzgfbcnusdgfuyg
                    aasfjg sddfsh
                    sdfhgyisdgfdjgjh egfhdkgjhfghkhuidsf
                    sfnkdjhgshfk oijkhihhjhjsdfyigii huioysefdkiortuveun joimxcniytaciby awei </p>
        </span>


        <div class="row">

            <div class="col-sm-4" style="text-align:center">
                Staus : <button class="btn btn-success">Approved</button>
            </div>
            <div class="col-sm-8 " style="text-align:center">
                Category : Other Community Programs
            </div>

        </div>

    </div>
    <div class="col-sm-6">
        <div class="card below-action-height">
            <div class="row no-gutters loc-details-box ">
                <div class="col-sm-6 loc-details-box-span">
                    <span> Location: UK </span>
                </div>
                <div class="col-sm-6 loc-details-box-span">
                    <span> Council : Outreach Council </span>
                </div>
            </div>
        </div>
        <span>
            <p class="event-content">St. Edward's CE Voluntry Aided Primary school
                <p style="text-align: center; width: 100%;">
                    dfbjhfcgsddfytfh fufjdzgfbcnusdgfuyg aasfjg sddfsh
                </p>
        </span>
        <div class="row">
            <div class="col-sm-6" style="text-align:center">
                Feedback : 6
            </div>
            <div class="col-sm-6" style="text-align:center">
                Avg Rating : 4
            </div>

        </div>
    </div>

    <div class="container col-sm-12" style=" padding-top: 10px">
        <div class="row">
            <div class="col-sm-4 ">
                
                <div>
                <div class="card participated ">
                    <div style="width: 30%;"  aria-current="page" >PARTICIPATED 
                    </div>
                
                <div style="width: 50%">
                        <ul class="ul-right">
                                <li class="inline-li"><i class="fa fa-futbol-o" aria-hidden="true"></i></li>
                                <li class="inline-li"><i class="fa fa-repeat" aria-hidden="true"></i></li>
                                <li class="inline-li"><i class="fa fa-minus-circle" aria-hidden="true"></i></li>
                                <li class="inline-li"><i class="fa fa-times-circle" aria-hidden="true"></i></li>
                            </ul>
                    </div>  </div>
                </div>


                <div class="card participated-info-box">
                    <span class="border border-success participated-info">
                        <p>Rating : 5</p>
                        <p>Likes : nice</p>
                        <p>Dislikes : Travel</p>
                    </span>
                    <div class="card" style="padding-top: 5px; padding-top: 5px; padding-bottom: 8px;">
                        <span class="border border-success participated-info">
                            <p>Rating : 5</p>
                            <p>Likes : nice</p>
                            <p>Dislikes : Travel</p>
                        </span> </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card not-participated">
                    NOT PARTICIPATED
                </div>
                <div class="card participated-info-box" style=" padding-bottom: 8px;">
                    <span class="border border-success participated-info">
                        <p>Unexpected Offic Works</p>

                    </span>

                </div>
            </div>

            <div class="col-sm-4" style="  padding-right: 0px;">
                <div class="card un-registered">
                    UN REGISTERED
                </div>
                <div class="card participated-info-box" style=" padding-bottom: 8px;">
                    <span class="border border-success participated-info">
                        <p>Did not Receive the furthr ingo about the Event.</p>

                    </span>

                </div>
            </div>
        </div>
    </div>



</div>